.env
.env.*
!.env.example

node_modules
.nuxt
.output
.data
.cache
.nitro
dist
uploads
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/site-hero.png

logs
*.log
.DS_Store
.fleet
.idea
--host
